<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" href="/">BCA</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                   id="navbarDropdown" role="button">
                    Subject
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <div>
                        <a class="dropdown-item" href="#">501</a>
                        <a class="dropdown-item" href="#">502</a>
                        <a class="dropdown-item" href="#">503</a>
                        <a class="dropdown-item" href="#">504</a>
                    </div>
                    <a class="dropdown-item" href="#"></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a type="button" class="nav-link" data-toggle="modal" data-target="#exampleModal">Add Books</a>
            </li>  <li class="nav-item">
                <a `aria-disabled="true" class="nav-link register" href="/books">View All Books</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" method="get">
            <input aria-label="Search" class="form-control" name="search" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Modal -->

<div class="card m-4 p-2 mx-auto" style="width: 18rem;" th:fragment="card">
    <img class="card-img-top" src="https://picsum.photos/id/237/200/200" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Juned</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">View Profile</a>
    </div>
</div>
</body>
</html>